<!DOCTYPE html>
<html ng-app="git2web">
  <head>

    <link rel="stylesheet" type="text/css" href="html/css/bootstrap.css">
    <script src="html/js/angular.js"></script>
    <script src="html/js/prototype.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" >

    <title ng-controller="metadata as md">{{ md.meta.name }}</title>

  </head>
  <body>
    <div ng-controller="metadata as md" class="container-fluid">
      <div class="row">
	<nav class="navbar navbar-default">
	  <!-- This is the headcontainer. -->
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#">{{ md.meta.name }}</a>
	  </div>
	  <!-- :TODO: Add a dropdown menu for selecting the different branches -->
	</nav>

	<!--This is the Left containern. -->
	<div class="col-xs-12 col-md-6">
	  <table ng-controller="repoCtrl as repo" class="table table-striped">
	    <thead>
	      <th>Message</th>
	      <th>Commit</th>
	      <th>Author</th>
	    </thead>
	    <tbody>
	      <tr ng-click="repo.show(commit)" ng-repeat="commit in repo.commits">
		<td><a href="#">{{commit.message}}</a></td>
		<td>{{commit.commit}}</td>
		<td>{{commit.author}}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

	<!-- THis is the Right container. -->
	<div class="col-xs-12 col-md-6">
	  <header>
	    <span class="pull-right label label-danger">-11</span> <!-- deletions -->
	    <span class="pull-right label label-success">+22</span>  <!-- insertions -->
	  
	  <!-- Here's some statistics about the actual patch-->
	  <h3>{{ commit.message }}</h3> <code class="text-muted">{{ commit.hash }}</code>
	  </header>
	  <div class="clearfix"></div>
	  <hr>
	  <!-- A commit's patch would be shown here -->	  
	  <pre>Here's a bunch of source-code that was changed in the active commit.
	  </pre>
	</div> <!-- /right container -->

      </div> <!-- /row -->
    </div>
  </body>
</html>
